<!DOCTYPE html>
<html>
<head>
<title>Stage View</title>
<style>
  body { background: black; color: white; font-family: sans-serif; }
  #title { font-size: 36px; text-align: center; margin-bottom: 20px; }
  #type { font-size: 32px; text-align: center; margin-bottom: 20px;}
  #current { font-size: 56px; text-align: center; margin: 20px; color: rgb(255, 255, 0); font-weight: bold;}
  #next { font-size: 32px; text-align: center; margin: 20px; color: gray; }
  #next-2 { font-size: 24px; text-align: center; margin: 20px; color: gray; }
</style>
</head>
<body>

<div id="title"></div>
<div id="type"></div>
<div id="current"></div>
<div id="next"></div>
<div id="next-2"></div>

<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io();

function removeChords(text) {
    return text.replace(/\[[^\]]+\]/g, "");
}

function showTimer(timerValue) {
    // Clear everything
    document.getElementById("title").innerText = "";
    document.getElementById("type").innerText = "";
    document.getElementById("next").innerText = "";
    document.getElementById("next-2").innerText = "";

    const currentEl = document.getElementById("current");

    currentEl.innerText = timerValue;
    currentEl.style.color = "red";
    currentEl.style.fontSize = "500px"; // big
    currentEl.style.fontWeight = "bolder";
}

socket.on("slide-update", (data) => {
    if (data.Timer){
        showTimer(data.Timer);
        return;
    }
    const index = parseInt(data.CurrentItemIndex) - 1;
    const current = data.SongVerses[index];
    const next = data.SongVerses[index + 1];
    const next2 = data.SongVerses[index + 2];

    document.getElementById("title").innerText = data.Title;
    document.getElementById("type").innerText = current ? current.Title : "";
    document.getElementById("current").innerText = current ? removeChords(current.Lyrics) : "";
    document.getElementById("next").innerText = next ? removeChords(next.Lyrics) : "";
    document.getElementById("next-2").innerText = next2 ? removeChords(next2.Lyrics) : "";
});
</script>

</body>
</html>